# bazel output directories
bazel-*
src/vmecpp/cpp/bazel_artifacts
src/vmecpp/cpp/_vmecpp.so
dist/
__pycache__
build/

# CMake
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

# VSCode
.vscode

# Python venv
venv
